[html]
page_title = Change your LDAP password

[ldap]
host = localhost
port = 389
use_ssl = false
base = ou=People,dc=example,dc=org
search_filter = uid={uid}

[server]
server = auto
host = localhost
port = 8080
